---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404 Not Found" description="Nah I don't have this page.">
  <h1 class="font-mosk text-primary-gray font-bold md:text-[6em] text-[4em] tracking-wider text-center">
    404
  </h1>
  <p class="tracking-wide max-w-5xl leading-7 sm:text-base text-sm text-center block mx-auto">
    The page you are looking for does not exist.
  </p>
</Layout>