<div
  class="prose prose-zinc md:leading-7 leading-6 tracking-wide
  prose-code:!leading-[unset] prose-code:sm:text-sm prose-code:sm:tracking-wide prose-code:tracking-tight prose-code:text-xs
  prose-code:before:content-[] prose-code:after:content-[]
  inlineCode:bg-primary-gray/[.15] inlineCode:p-[2px] inlineCode:font-firaCode inlineCode:tracking-tight inlineCode:font-normal
  md:text-base text-sm xl:max-w-[1000px] lg:max-w-[800px] max-w-full mx-auto
  markedlines:bg-zinc-500/[0.5] markedlines:inline-block markedlines:w-full
  lines:px-[1em]
  prose-pre:px-0 prose-pre:m-0
  hiddenpre:h-[70px] hiddenpre:overflow-hidden
  oversizedWrapper:relative oversizedWrapper:before:content-[url('/chevron-down-outline.svg')] oversizedWrapper:before:w-4 oversizedWrapper:before:h-4 oversizedWrapper:before:absolute oversizedWrapper:before:top-[calc(100%+2px)] oversizedWrapper:before:left-[calc(50%-8px)] oversizedWrapper:before:bg-transparent oversizedWrapper:before:sm:hidden oversizedWrapper:before:block
  hasfilename:rounded-tl-none hasfilename:rounded-tr-none hasfilename:mt-0"
>
  <slot />
</div>
